.formErrors{
	color:red;
	font-size : 12px;	
}
.formErrors ul{
	list-style: none;
	margin-left: 0px;
}
#filelist div.alert{
	margin-bottom: 1px;
}

.ui-menu{
	height: 150px;
	overflow: scroll;
	overflow-x: hidden;	
}

.ui-menu-item {
	height: 30px;
}

.ui-widget-content {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}