/***
Import fonts
***/
/*#content a:link:after, #content a:visited:after {    
  content: " ("attr(href) ") ";    
  font-size: 90%;   
}*/
.header {
	/*display: none;*/
}

.page-sidebar {
	/*display: none;*/
}

.color-panel {
	display: none;
}

.hidden-print {
	display: none;
}

.footer {
	display: none;
}

.no-page-break {
	page-break-after: avoid;
}

.page-container {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.page-content {	
	min-height: auto !important;
}

a:after {
	display: none !important;
}

.table {
	/*margin-top: -40px !important;*/
	position: relative;
}

.user, .dropdown-toggle{
	display: none !important;
}

.printbtn {
	/*position: absolute;*/
	/*bottom: 20px;*/
	/*left: 20px;*/
}

.pagination {
	margin: 0px !important;
	padding-top: 5px;
}

.nav {
	display: -webkit-box !important;
}

.btn {
	padding: 5px 30px;
}